/* ===========================
         MEDAL STYLING
============================ */

.medal-display { /* Container for displaying medals */
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    justify-content: center;
    gap: 50px;
    position: relative;
    width: 75%;
    height: max-content;
    margin: 2rem auto;
    padding: 4rem 3rem;
    background: rgba(0, 4, 20, 0.6);
    border-radius: 5px;
    box-sizing: border-box;
    user-select: none;
}

.medal-type { /* Medal display container's header */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    color: rgb(122, 186, 255);
    font-size: 1.5rem;
    font-weight: 700;
    background: rgb(36, 50, 81);
    border-radius: 5px;
    transform: translateY(-50%) skewX(-10deg);
}

.medal-wrapper { /* A wrapper for medals that helps contain the medal and extra animation effects */
    display: block;
    position: relative;
    transform: rotate(45deg);
}

.medal { /* Medal element (acts as the medal frame) */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--tier-color, white);
    transition: 0.1s transform cubic-bezier(0.5, 1.5, 1, 1.5);
    z-index: 0;
    cursor: pointer;
    overflow: hidden;
}

.medal.prismatic { /* Effect for prismatic medals */
    box-shadow: 0 0 7.5px white;
    background-size: 300% 300%;
    animation: prismatic-shift 3s ease-in-out infinite alternate;
}

@keyframes prismatic-shift { /* Shifts the prismatic gradient for dynamic gradient color */
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

.medal.gold::before,
.medal.diamond::before,
.medal.prismatic::before { /* Shimmer overlay for gold, diamond or prismatic tier medals */
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: -100%;
    background: linear-gradient(
        105deg,
        transparent 0 20%,
        rgb(255, 255, 255) 50%,
        transparent 80% 100%
    );
    transform: rotate(-45deg) scale(1.4);
    z-index: -2;
    animation: shimmer 3s ease infinite;
}

@keyframes shimmer { /* Shimmer animation for gold, diamond or prismatic tier medals */
    0% { top: 100%; left: -100%; }
    60% { top: -100%; left: 100%; }
    100% { top: -100%; left: 100%; }
}

.sparkle { /* Sparkle element for diamond tier medals (added via JavaScript) */
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    clip-path: polygon(50% 0, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0 50%, 40% 40%);
    background: white;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: twinkle 1.5s ease-in-out forwards;
}

@keyframes twinkle { /* Twinkle animation for the sparkle element */
    0% { transform: translate(-50%, -50%) scale(0) rotate(-45deg); opacity: 0; }
    50% { transform: translate(-50%, -50%) scale(1) rotate(135deg); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(0) rotate(315deg); opacity: 0; }
}

.medal::after { /* Internal medal design */
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background: var(--medal-color);
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    transform: scale(0.85);
    z-index: -1;
}

.medal-display.pp .medal::after { /* Internal medal color for total pp medals */
    --medal-color: rgb(134, 180, 254);
}

.medal-display.top-play .medal::after { /* Internal medal color for top play pp medals */
    --medal-color: rgb(144, 136, 254);
}

.medal-pulse { /* Pulse effect for the medal when clicked (using Javascript) */
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 5px white;
    pointer-events: none;
    animation: 0.5s fade-pulse ease forwards;
}

@keyframes fade-pulse { /* Animation for expanding pulse and fading */
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.5); opacity: 0; }
}

.medal:hover { /* Medal hover animation */
    transform: scale(1.1);
}

.medal-text { /* Medal's text content */
    color: var(--medal-text-color, black);
    font-size: 1rem;
    font-weight: 700;
    transform: rotate(-45deg);
    z-index: 1;
}

.bronze { /* Bronze medal tier color */
    --tier-color: linear-gradient(
        135deg,
        rgb(184, 143, 122),
        rgb(106, 73, 57)
    );
}

.silver { /* Silver medal tier color */
    --tier-color: linear-gradient(
        135deg,
        rgb(224, 224, 235),
        rgb(111, 111, 132)
    );
}

.gold { /* Gold medal tier color */
    --tier-color: linear-gradient(
        135deg,
        rgb(240, 228, 168),
        rgb(239, 228, 103),
        rgb(255, 174, 0)
    );
}

.diamond { /* Diamond medal tier color */
    --tier-color: linear-gradient(
        135deg,
        rgb(210, 242, 251),
        rgb(168, 240, 239),
        rgb(99, 216, 216),
        rgb(54, 146, 207)
    );
}

.prismatic { /* Prismatic medal tier color */
    --tier-color: linear-gradient(
        135deg,
        #ff5f5f,
        rgb(255, 178, 85),
        #ffe864,
        #85ff85,
        #85c2ff,
        #c393ff,
        rgb(255, 135, 251)
    );
}

/* ===========================
     ACHIEVEMENTS STYLING
============================ */

.achievements-overlay { /* A dim overlay for the achievements */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    pointer-events: none;
    transition: 0.3s opacity ease;
}

.achievements-overlay.active { /* Display the overlay when active */
    opacity: 1;
    pointer-events: auto;
    backdrop-filter: blur(5px);
}

.achievements-display { /* A centered bar for displaying achievements */
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.25s height cubic-bezier(0.25, 1, 0.25, 1);
    user-select: none;
}

.achievements-display::after { /* A little guide placed below the centered bar */
    content: "Click anywhere on the blank space to close";
    position: absolute;
    top: 110%;
    left: 50%;
    opacity: 0;
    font-size: 1.25rem;
    font-weight: 700;
    transform: translateX(-50%);
    pointer-events: none;
}

.achievements-overlay.active .achievements-display { /* When active, expand the centered bar */
    height: 45%;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.achievements-overlay.active .achievements-display::after { /* when active, fade the guide message in after a slight delay */
    opacity: 1;
    transition: 0.25s opacity ease 0.1s;
}

.achievements-overlay-image { /* An image of Yoimiya cheering */
    display: block;
    align-self: flex-end;
    height: 120%;
    aspect-ratio: 1 / 1;
    opacity: 0;
    object-fit: cover;
    object-position: center;
}

.achievements-container { /* A container for the achievement's information */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.achievement-details { /* The details of the achievements */
    display: block;
    width: 100%;
    height: max-content;
    opacity: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.achievements-overlay.active .achievement-details,
.achievements-overlay.active .achievements-overlay-image { /* Fade the details and image in when active */
    opacity: 1;
    transition: 0.3s opacity ease;
}

.achievement-title { /* The title of the achievement */
    font-size: 2rem;
    font-weight: 700;
}

.achievement-tier { /* The tier level of the achievement's progress */
    width: max-content;
    font-size: 1.5rem;
    font-weight: 700;
    background: var(--tier-color, rgb(220, 220, 220));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.achievements-list { /* A box containing the achievements */
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
}

.achievements-list p { /* Styling for the achievements themselves */
    display: flex;
    align-items: flex-start;
    width: max-content;
    max-width: 100%;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.25s cubic-bezier(0, 1, 1, 1);
}

.achievements-list p::before { /* Little tier rank icon colored accordingly using JavaScript */
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    background: var(--tier-color);
    border: 2px solid white;
    border-radius: 2px;
    box-sizing: border-box;
}

.achievements-list p.reveal { /* Reveals the achievement with a swipe animation */
    clip-path: inset(0 0 0 0);
}
