/* ===========================
        PROFILE SETUP
============================ */

.profile-banner { /* Creates the Profile's Banner Container Structure */
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 0.25;
}

.profile-banner-img { /* The Profile's Banner Image */
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 30%;
}

.profile-picture-frame {
    align-self: flex-end;
    width: 120px;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.5rem;
}

.profile-picture { /* Creates the Profile Picture */
    width: 100%;
    height: 100%;
    border-radius: 35%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    z-index: 2;
    will-change: transform;
    transition: transform 0.25s ease, filter 0.5s ease;
}

.profile-picture:hover { /* Profile Picture hover animation */
  transform: rotate(5deg);
  filter: grayscale(75%);
}

.profile-bar { /* Creates a little Display Bar for Profile */
    display: flex;
    align-items: center;
    width: 100%;
    height: 85px;
    padding: 0 7.5%;
    background: rgb(150, 150, 150);
    box-sizing: border-box;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
    box-sizing: border-box;
}

.profile-username { /* Creates the Profile Username */
    background: linear-gradient(
        to right,
        rgba(255, 255, 255),
        rgb(254, 240, 203),
        rgb(248, 161, 178)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
    font-size: 1.5rem;
    font-weight: 700;
}

.profile-subtext { /* Creates text below Profile Username */
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}

/* ===========================
       MAIN PAGE CONTENT
============================ */

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.75rem;
    gap: 10px;
}

.skin-display {
    position: relative;
    aspect-ratio: 8 / 5;
    border-radius: 8px;
    overflow: hidden;
}

.skin-display img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skin-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    bottom: -1px;
    padding: 0 0.5rem;
    background: rgba(27, 27, 27, 0.95);
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.skin-display:hover .skin-overlay {
    transform: translateY(0);
}

.skin-name {
    font-size: 20px;
    font-weight: 700;
}

.download-skin {
    display: inline-block;
    width: 20px;
    height: 20px;
    opacity: 0.75;
    background: url(../svgs/download_icon.svg);
    transition: opacity 0.25s ease;
}

.download-skin:hover {
    opacity: 1;
}

.keyboard-info {
    display: block;
}

.spaced-rows {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 0.5rem;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.label {
    font-size: 1.25rem;
    font-weight: 700;
}

.keybind-display {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.keybinds {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    aspect-ratio: 1 / 1;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 20%;
    background: rgb(43, 43, 43);
    user-select: none;
}