/* ============================
        DATE NAVIGATION
============================= */

.date-carousel {
    width: 100%;
    aspect-ratio: 3 / 1;
    padding: 4rem 0;
    perspective-origin: center center;
    overflow: hidden;
}

.selector-track {
    display: flex;
    align-items: center;
    gap: 4rem;
    width: max-content;
    height: 100%;
    transform-style: preserve-3d;
    pointer-events: none;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-shrink: 0;
    width: 125px;
    height: 250px;
    padding: 1rem 0.5rem;
    color: rgb(225, 225, 225);
    background: linear-gradient(to bottom, rgba(101, 139, 227, 0.3), rgba(195, 239, 249, 0.3));
    border-radius: 0 10px 0 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    transition: box-shadow 0.1s ease;
}

.date:hover {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.75);
}

.date-period {
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.date-period::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 0.125rem;
    top: 110%;
    left: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    transform: translateX(-50%);
}

.date-title {
    font-size: 0.7rem;
    font-weight: 700;
    font-style: italic;
    opacity: 0.8;
    text-align: center;
    line-height: 1.3;
}

.date-carousel.dragging .date {
    pointer-events: none;
}

/* ============================
          BACK BUTTON
============================= */
.back-button { /* A button for going back to the previous page */
    display: block;
    position: relative;
    width: max-content;
    margin-left: 12.5%; 
    padding: 10px 30px;
    color: rgb(232, 232, 232);
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    background: rgb(33, 33, 33);
    border-radius: 6px;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.back-button::before { /* Background fill overlay */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(232, 232, 232);
    border-radius: 6px;
    z-index: -1;
    transition: width 0.25s ease-in-out;
}

.back-button:hover { /* Inverts text color */
    color: rgb(33, 33, 33);
}

.back-button:hover::before { /* Creates a slide in overlay */
    width: 100%;
}

.back-button:active { /* Shrink animation upon click */
    transform: scale(0.95);
}

/* ============================
          CHART SIZING
============================= */
.chart-selector { /* Creates the selection container for the chart types */
    display: flex;
    width: 75%;
    height: 40px;
    margin: 2rem auto 0 auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.chart-type { /* Individual elements for selecting chart types */
    position: relative;
    flex: 1;
    padding: 0;
    color: rgb(245, 245, 245);
    opacity: 0.75;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Nunito";
    background: transparent;
    border: none;
    border-radius: 8px;
    transition: opacity 0.25s ease;
}

.chart-type::after { /* Selection effect that displays when a chart type is selected via Javascript */
    content: "";
    display: block;
    position: absolute;
    inset: 4px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    transform: scale(0);
    transition: transform 0.25s ease;
}

.chart-type.active { /* Makes the selected chart type fully opaque to stand out */
    opacity: 1;
}

.chart-type.active::after { /* Expands the selection effect on the active chart type */
    transform: scale(1);
}

.chart-container { /* Used for controlling the structure of charts made with <canvas> */
    width: 75%;
    margin: 0 auto;
}

/* ============================
      WEEK TITLE AND STATS
============================= */

.week-header { /* Container structure for week title and the stats */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    height: max-content;
    margin: 1rem auto;
    font-family: "Nunito";
}

.week-title { /* The week title */
    color: rgb(225, 225, 225);
    font-size: 2rem;
    font-weight: 700;
}

.week-subtitle { /* Subtitle of the week */
    color: rgb(170, 187, 211);
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
}

.week-stats-box { /* Wrapper box for all the recorded stats */
    display: flex;
    justify-self: end;
    align-self: start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.week-stat { /* Pill style for every stat */
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    user-select: none;
}

.week-stat.pp { /* Style for pp stat */
    background: rgba(100, 160, 255, 0.18);
    color: rgb(144, 188, 255);
}

.week-stat.SR {
    background: rgba(255, 180, 60, 0.18);
    color: rgb(255, 204, 112);
}


/* ============================
            CALLOUT
============================= */

.callout { /* Styles a callout for journal entries */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 75%;
    height: 50px;
    margin: 0 auto 30px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: rgb(245, 245, 245);
    font-family: "Nunito";
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0, 1, 1, 1);
    z-index: 0;
}

.callout:hover { /* Outline effect when callout is hovered */
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.75);
}

.callout-title { /* The title of the callout */
    text-shadow: 0 0 2.5px rgba(0, 0, 0, 1);
    font-size: 1.77rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.callout-title::before { /* The Callout Icon before the Callout Title */
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    background: var(--callout-icon);
}

.callout-title::after { /* Makes a pointer arrow after the Callout Title */
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(34, 37, 38, 0.4);
    margin-left: 0.5rem;
    clip-path: path("M 8 2 S 8 0, 10 0 L 18 8 S 20 10, 18 12 L 10 20 S 8 20, 8 18 L 16 10 Z");
    transition: transform 0.5s cubic-bezier(0, 1, 1, 1);
}

.callout.opened .callout-title::after { /* Rotate the pointer arrow when callout is opened */
    transform: rotate(90deg);
}

.has-gameplay::before {
    content: "▶ Gameplay";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 4px 2px 12px;
    font-size: 0.75rem;
    font-weight: 700;
    background: black;
    border-radius: 0 0 0 20px;
    pointer-events: none;
}

.amazing { /* Callout color for amazing sessions */
    background: linear-gradient(
        135deg,
        rgba(25, 222, 251, 0.8),
        rgba(79, 123, 253, 0.8),
        rgba(244, 178, 247, 0.8)
    );
    --callout-icon: url("../svgs/sparkles_icon.svg");
}

.amazing::after { /* Shine effect for the Callout with amazing status */
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.75) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
    animation: shine 4s ease-in-out infinite;
    z-index: -1;
}

@keyframes shine { /* Shine animation */
    0% {left: -150%;}
    60% {left: 150%;}
    100% {left: 150%;}
}

.good { /* Callout color for good sessions */
    background: rgb(50, 203, 96);
    --callout-icon: url("../svgs/thumbs-up_icon.svg");
}

.decent { /* Callout color for decent sessions */
    background: rgb(109, 212, 126);
    --callout-icon: url("../svgs/smile_icon.svg");
}

.fair { /* Callout color for fair sessions */
    background: rgb(222, 213, 121);
    --callout-icon: url("../svgs/meh_icon.svg");
}

.bad { /* Callout color for bad sessions */
    background: rgb(210, 158, 94);
    --callout-icon: url("../svgs/frown_icon.svg");
}

.terrible { /* Callout color for terrible sessions */
    background: rgb(212, 92, 92);
    --callout-icon: url("../svgs/thumbs-down_icon.svg");
}

.unplayable { /* Callout color for unplayable sessions */
    background: rgb(198, 56, 56);
    --callout-icon: url("../svgs/x_icon.svg");
}

.rest { /* Callout color for rest days */
    background: rgb(50, 207, 134);
    --callout-icon: url("../svgs/heart-pulse_icon.svg");
}

.song-title-wrapper { /* Wrapper to align all elements around the song title */
    display: flex;
    align-items: center;
    position: relative;
}

.song-title { /* Design the Title of the song */
    margin: 0 0.5rem 0 0.25rem;
    font-size: clamp(1rem, 1.5rem, 2rem);
    font-weight: 700;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    cursor: default;
    user-select: none;
}

.song-difficulty { /* Adds the Star Rating of the song */
    color: rgb(var(--diff-text-color)); /* Handled by Javascript */
    background: rgb(var(--diff-color)); /* Handled by Javascript */
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: 99999px;
    padding: 0 10px 0 5px;
}

.song-difficulty::before { /* Adds an automatic star before the song difficulty */
    content: "★ " attr(data-difficulty);
}

.replay-download { /* Download icon for downloading gameplay replay */
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0.75;
    background: url(../svgs/download_icon.svg);
    transition: opacity 0.25s ease;
}

.replay-download::after { /* Tool tip for download icon */
    content: "Download Replay";
    position: absolute;
    top: 125%;
    left: 125%;
    padding: 4px 8px;
    opacity: 0;
    font-size: 0.75rem;
    font-weight: 700;
    color: rgb(245, 245, 245);
    white-space: nowrap;
    background: black;
    border: 2px solid white;
    border-radius: 0 8px 8px 8px;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

.replay-download:hover::after { /* Show the tool tip for the download icon when hovered */
    opacity: 1;
    transition-delay: 0.1s;
}

.replay-download:hover { /* Make the download icon more apparent when hovered */
    opacity: 1;
}

.play-stats { /* Creates a box for song stats */
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: max-content;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.75);
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 10px;
    box-sizing: border-box;
    user-select: none;
}

.stats::before { /* Creates the label for the stats */
    content: var(--stat-type);
    display: block;
    color: rgb(215, 215, 215);
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

.stats.score { /* Score stat */
    --stat-type: "Score";
}

.stats.accuracy { /* Accuacy stat */
    --stat-type: "Accuracy";
}

.stats.max-combo { /* Max combo stat */
    --stat-type: "Max Combo";
}

.stats.pp { /* Performance point stat */
    --stat-type: "Performance Points";
}

.loved { /* Creates a heart symbol for the pp stat if song is loved */
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../svgs/heart_icon.svg");
}

.new-top { /* A small badge for new pp top plays */
    padding: 2px 4px;
    color: rgb(92, 58, 0);
    font-size: 0.75rem;
    font-weight: 700;
    background: linear-gradient(135deg,rgb(255, 229, 153), rgb(230, 168, 23));
    border: 2px solid rgba(92, 58, 0, 0.5);
    border-radius: 5px;
}

.new-top::before { /* Automatically adds in "New Top" */
    content: "New Top";
}

.thoughts { /* Creates a box to contain my thoughts */
    display: block;
    position: relative;
    width: 100%;
    height: max-content;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-shadow: none;
    box-sizing: border-box;
}

.thoughts::before { /* Adds a header for the thoughts box */
    content: "Thoughts";
    display: block;
    width: 100%;
    color: rgb(255, 210, 120);
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.05rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.thoughts::after { /* Adds a gold rim border around the box for design */
    content: "";
    display: block;
    position: absolute;
    inset: 0.25rem;
    border: 2.5px solid rgba(255, 210, 120, 0.25);
    border-radius: inherit;
    pointer-events: none;
}

.thoughts p { /* Styles p elements inside the thoughts box i.e. my thoughts */
    font-size: 1.25rem;
    font-weight: 600;
    padding: 5px 0;
    border-radius: 5px;
    user-select: none;
    cursor: default;
}

.thoughts p::before { /* Adds a list marker before every thought */
    content: "✦ ";
    color: rgb(var(--accent-brown));
}

.thoughts p:hover { /* Show which thought is curently being hovered */
    background: rgba(0, 0, 0, 0.3);
}

.session-stats { /* Creates a session stats overview grid box for storing stats */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;   
}

.session-stats::before { /* Creates the label of the grid box */
    content: "Session Stats";
    display: block;
    grid-column: 1 / -1;
    padding: 0.5rem;
    color: rgb(156, 178, 222);
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.05rem;
    background: rgb(0, 0, 0, 0.6);
    border-left: 15px solid rgb(120, 140, 160);
    border-radius: 5px;
}

.session-stats p { /* Style of each p element inside the grid box i.e. each stat */
    display: block;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.6);
    border-left: 15px solid rgb(var(--stat-color));
    border-radius: 5px;
    user-select: none;
}

.session-stats p::before { /* Label for the stat types */
    content: var(--type);
    display: block;
    color: rgb(200, 200, 200);
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
}

.session-stats p:hover { /* Show which stat is being hovered */
    background: rgba(0, 0, 0, 0.7);
}

.total-pp { /* Total pp stat */
    --type: "Total 7k pp";
    --stat-color: 100, 160, 255;
}

.playtime { /* Playtime stat */
    --type: "Session Playtime";
    --stat-color: 180, 140, 255;
}

.gain {
    color: rgb(100, 255, 100);
}